/* ================= DIVERGENT ================== */
.wp-block {
    max-width: 900px;
}
.thumbhover {
    display:block;
}
.thumbhover img {
    width: 100px;
    height: auto;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    vertical-align:bottom;
}
.thumbhover img:hover {
    opacity: 0.7;
}
.thumbborder{
    border: 1px solid #c7c7c7;
}
#setting-error-divergent {
    float:left;
}
.cmb2-wrap input[type="text"],
.cmb2-wrap input[type="number"],
.cmb2-wrap textarea {
    width: 100% !important;
}

.customize-control {
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

.customize-control:not(.customize-control-kirki-dimensions):not(.customize-control-kirki-typography) {
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}

.customize-control-kirki-custom h2 {
    background: #fff;
    padding: 20px 12px;
    margin: 0 -12px;
    display: block;
}