body,p,input,textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6,strong,label,.tooltipster-content,.cv-table-left,.cv-button,.skillbar,.cv-resume-title p,.cvfilters li,#home-slide-title span,#home-title p,blockquote .cite,.nav-numbers li a,.meta,.page-date,.cv-box-title,.cv-readmore,input[type="submit"] {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

body,p,input[type="text"],input[type="email"],input[type="number"],input[type="date"],input[type="password"],textarea,.cv-button,table,.widget_nav_menu div ul ul li a,#wp-calendar tfoot #prev,#wp-calendar tfoot #next,#wp-calendar caption,.cv-submenu ul ul li a,cv-table .cv-table-text,.skillbar-title span,.skill-bar-percent,.tooltipster-gototop .tooltipster-content {
    font-size: 16px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6,.cv-submenu ul li a,.cv-table li,.cv-resume-title p,.cvfilters li,.tooltipster-dark .tooltipster-content,.tooltipster-light .tooltipster-content,.tooltipster-red .tooltipster-content,.accordion-header,.page-date,.resp-tabs-list li,h2.resp-accordion,.cv-box-title,blockquote p{
    font-size: 18px;
}

#home-title h1 span,#home-slide-title span {
    font-size: 60px;
}

#home-title p {
    font-size: 30px;
}

body {
    background-color: #ffffff;
    color: #777777;
}

h1,h2,h3,h4,h5,h6,.blogcontainer .postdate {
    color: #222222;
}

h1.border:after,h2.border:after,h3.border:after,h4.border:after,h5.border:after,h6.border:after,#site-loader-block:before,#site-loader-block:after,#site-loader-box {
    background-color: #de3926;
}

p {
    color: #777777;
}

a {
    color: #222222;
}

a:hover,.blogcontainer .postdate i {
    color: #de3926;
}

.label {
    background-color: #f3f3f3;
    border-left: 3px solid #de3926;
}

blockquote,
pre {
    background: #f3f3f3;
}

blockquote:before {
    background-color: #de3926;
    border: 5px solid #ffffff;
    color: #ffffff;
}

.floor {
    background-color: #ffffff;
}

.cv-logo img {
    max-width: 200px;
}

input,
textarea {
    background-color: #ffffff;
    color: #777777;
}

input:focus,
textarea:focus {
    background-color: #f3f3f3;
    color: #222222;
}

.cv-button {
    background-color: #ffffff;
    border: 3px solid #222222;
    color: #222222;
}

.cv-button.primary {
    background-color: #222222;
    color: #ffffff;
}

input[type="submit"] {
    border: 3px solid #222222;
    background-color: #222222;
    color: #ffffff;
}

.cv-button:hover,
input[type="submit"]:hover {
    background-color: #de3926;
    border: 3px solid #de3926;
    color: #ffffff;
}

#cv-sidebar input,
#cv-sidebar textarea {
    color: #777777;
}

#cv-sidebar input:focus,
#cv-sidebar textarea:focus {
    color: #ffffff;
}

#cv-sidebar .cv-button,
.widget_categories ul li span {
    color: #ffffff !important;
}

#cv-sidebar .cv-button:hover,
.widget_categories ul li span {
    background-color: #222222;
}

.searchbox .cv-button {
    border-left: 1px solid #333333 !important;
}

.searchbox .cv-button:hover {
    border-left: 1px solid #222222 !important;
}

div.wpcf7-mail-sent-ok,div.wpcf7-mail-sent-ng,div.wpcf7-spam-blocked,div.wpcf7-validation-errors,.blog-img .backstretch {
    background-color: #f3f3f3;
}

#site-error {
    background-color: #222222;
}

#site-error h3 {
    color: #ffffff;
}

#site-loading {
    background: url('../images/loading.gif') no-repeat scroll center center #222222;
}

#site-loading-css {
    background-color: #222222;
}

#site-loader-block {
    border: 5px solid #333333;
}

.cv-page-content {
    border-bottom: 50px solid #ffffff;
}

#cv-page-right {
    background-color: #ffffff;
}

#cv-menu {
    background-color: #222222;
}

#cv-main-menu ul li a {
    color: #ffffff;
}

#cv-main-menu ul li.cv-menu-icon a {
    background: #de3926;
}

#cv-sidebar {
    background-color: #333333;
}

#cv-sidebar h1,#cv-sidebar h2,#cv-sidebar h3,#cv-sidebar h4,#cv-sidebar h5,#cv-sidebar h6 {
    color: #ffffff;
}

#cv-sidebar,
#cv-sidebar p {
    color: #777777;
}

.cv-panel-widget a {
    color: #ffffff;
}

.cv-panel-widget a:hover {
    color: #de3926;
}

.widget_recent_entries ul li a,.widget_categories ul li a,.widget_recent_comments ul li a,.widget_pages ul li a,.widget_meta ul li a,.widget_archive ul li a,.widget_recent-posts ul li a,.widget_rss ul li a,#recentcomments a {
    color: #777777;
}

.widget_recent_entries ul li a:hover,.widget_categories ul li a:hover,.widget_recent_comments ul li a:hover,.widget_pages ul li a:hover,.widget_meta ul li a:hover,.widget_archive ul li a:hover,.widget_archives ul li a:hover,.widget_recent-posts ul li a:hover,.widget_rss ul li a:hover,.recentcomments span a:hover {
    color: #ffffff;
}

#cv-sidebar .tagcloud a,
#cv-sidebar a[class^="tag"] {
    color: #ffffff;
}

#cv-sidebar .tagcloud a:hover,
#cv-sidebar a[class^="tag"]:hover {
    color: #ffffff;
    background-color: #de3926;
}

a.cv-sidebar-post-title {
    color: #777777;
}

a.cv-sidebar-post-title:hover {
    color: #ffffff;
}

.cv-sidebar-posts li img:hover {
    border: 3px solid #ffffff;
}

.widget_nav_menu div ul li a {
    color: #777777;
}

.widget_nav_menu div ul li a:hover {
    color: #ffffff;
}

.widget_nav_menu div ul ul a {
    color: #777777;
}

.widget_nav_menu div ul > li > a.cvdropdown2 {
    color: #ffffff;
}

.cv-submenu ul li a {
    color: #777777;
}

.cv-submenu ul li a:hover {
    color: #ffffff;
}

.cv-submenu ul ul a {
    color: #777777;
}

.cv-submenu ul > li > a.cvdropdown2 {
    color: #ffffff;
}

.cv-flickr-box li img:hover {
    border: 3px solid #ffffff;
}

#home-title h1 span {
    color: #ffffff;
    background-color: #222222;
}

#home-slide-title span,
#home-title h1 .mobile-title {
    color: #ffffff;
    background-color: #de3926;
}

#home-title p {
    color: #222222;
    background-color: #ffffff;
}

#cv-home-social-bar ul li a {
    color: #222222;
    border-right: 1px solid #f3f3f3;
    background-color: #ffffff;
}

#cv-home-social-bar ul li a:hover {
    color: #de3926;
}

.cv-table li {
    color: #777777;
}

.cv-table li {
    border-bottom: 1px solid #f3f3f3;
}

.cv-box .cv-table li {
    border-bottom: 1px solid #ffffff;
}

.cv-table li:first-child {
    border-top: 1px solid #f3f3f3;
}

.cv-box .cv-table li:first-child {
    border-top: 1px solid #ffffff;
}

.cv-table .cv-table-title {
    color: #222222;
}

.cv-icon-container {
    background-color: #f3f3f3;
}

.cv-icon-container a {
    color: #777777;
}

.cv-icon-container a:before {
    color: #777777;
}

.skillbar {
    background-color: #ffffff;
    border: 1px solid #f3f3f3;
}

.skillbar-title {
    color: #777777;
}

.skillbar-bar {
    background-color: #f3f3f3;
}

.skill-bar-percent {
    color: #777777;
}

.cv-resume-title {
    border-bottom: 1px solid #f3f3f3;
}

.cvgrid li figure figcaption {
    background-color: #f3f3f3;
}

.cvfilters li {
    color: #777777;
    background-color: #f3f3f3;
}

.cvfilters li:hover {
    color: #222222;
}

.cvfilters li.gridactive {
    color: #ffffff;
    background-color: #de3926;
}

.cvfilters li.gridactive:hover {
    color: #ffffff;
}

.cvgrid li figure figcaption .cvgrid-title {
    color: #777777;
}

.cvgrid > li > figure > a:after {
    color: #ffffff;
    background-color: #de3926;
}

.dvsquare > a:after {
    color: #ffffff;
}

.dvsquare {
    background-color: #de3926;
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
    background-color: rgba(34, 34, 34, 0.5);
    color: #777777;
}

.lg-actions .lg-next:hover,
.lg-actions .lg-prev:hover {
    color: #ffffff;
}

.lg-toolbar {
    background-color: rgba(34, 34, 34, 0.5);
}

.lg-toolbar .lg-icon {
    color: #777777;
}

.lg-toolbar .lg-icon:hover {
    color: #ffffff;
}

.lg-sub-html {
    background-color: rgba(34, 34, 34, 0.5);
    color: #ffffff;
}

#lg-counter {
    color: #777777;
}

.lg-outer .lg-item {
    background: url('../images/loading.gif') no-repeat scroll center center transparent;
}

.lg-outer .lg-thumb-outer {
    background-color: #333333;
}

.lg-outer .lg-toogle-thumb {
    background-color: #333333;
    color: #777777;
}

.lg-outer .lg-toogle-thumb:hover {
    color: #ffffff;
}

.lg-progress-bar {
    background-color: #333333;
}

.lg-progress-bar .lg-progress {
    background-color: #de3926;
}

.lg-backdrop {
    background-color: #222222;
}

.tooltipster-light {
    background: #ffffff;
    color: #222222;
}

.tooltipster-dark,
.tooltipster-gototop {
    background: #222222;
    color: #ffffff;
}

.tooltipster-red {
    background: #de3926;
    color: #ffffff;
}

.quovolve-nav a {
    background: #f3f3f3;
    color: #777777;
}

.quovolve-nav a:hover {
    background: #f3f3f3;
    color: #222222;
}

.nav-numbers li a:hover {
    color: #222222;
    background: #f3f3f3;
}

.nav-numbers li.active a {
    color: #ffffff;
    background: #222222;
}

.accordion-container {
    border-top: 1px solid #f3f3f3;
}

.accordion-header {
    border-bottom: 1px solid #f3f3f3;
}

.accordion-header:hover {
    color: #222222;
}

.active-header {
    color: #222222;
}

.accordion-content {
    border-bottom: 1px solid #f3f3f3;
}

.blog-img,.divergent-pager ul li {
    background-color: #f3f3f3;
}

.blog-img .blog-img-caption {
    margin-bottom: 120px;
}

.blog-img-caption h4 {
    color: #ffffff;
    background: #222222;
}

.without-featured-title {
    background: #222222;
}

.without-featured-title h4 {
    color: #ffffff;
}

.blog-img:hover .blog-img-caption h4,
.without-featured-link:hover .without-featured-title {
    background: #de3926;
}

.cv-readmore {
    color: #777777;
}

.cv-readmore:hover {
    color: #ffffff;
    background-color: #222222;
}

.blogpager .previous,
.blogpager .next {
    background-color: #f3f3f3;
}

.blogpager .cv-button {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    color: #222222;
}

.blogpager .cv-button:hover {
    background-color: #f3f3f3;
    border: 3px solid #f3f3f3;
    color: #de3926;
}

.blogmetadata a {
    color: #777777;
}

.blogmetadata a:hover {
    color: #de3926;
}

.blogmetadata span {
    color: #ffffff;
}

.comments_content {
    background-color: #f3f3f3;
}

.comments_content:before {
    border-bottom-color: #f3f3f3 !important;
}

.reply:before {
    color: #222222;
}

.resp-tab-active {
    border-top: 3px solid #de3926 !important;
}

.resp-tabs-list li:hover {
    background-color: #f3f3f3;
}

.resp-tabs-list li.resp-tab-active {
    background-color: #f3f3f3;
}

.resp-tabs-container {
    background-color: #f3f3f3;
}

.resp-tab-active {
    background-color: #f3f3f3;
}

.resp-vtabs .resp-tabs-list li:hover {
    background-color: #f3f3f3;
    border-left: 3px solid #de3926;
}

.resp-vtabs .resp-tabs-list li.resp-tab-active {
    background-color: #f3f3f3;
    border-left: 3px solid #de3926;
}

h2.resp-tab-active {
    background-color: #f3f3f3;
}

.caption-image img {
    border: 10px solid #f3f3f3;
}

.caption-image figcaption {
    background-color: #f3f3f3;
}

.cv-box.cv-light,
.blogmetadata {
    background-color: #f3f3f3;
}

.cv-box.cv-dark {
    background-color: #222222;
}

.cv-box.cv-red {
    background-color: #de3926;
}

.cv-box-title {
    color: #222222;
}

.cv-box.cv-dark .cv-box-title,
.cv-box.cv-red .cv-box-title {
    color: #ffffff;
}

.cv-box.cv-red p {
    color: #ffffff;
}

.mb_YTPBar,
.mb_YTPBar span.mb_YTPUrl a {
    color: #ffffff;
}

.mb_YTPlayer .loading {
    color: #ffffff;
    background: #333333;
}

.inline_YTPlayer {
    background: #333333;
}

.mb_YTPBar {
    background: #333333;
}

.mb_YTPBar:hover .buttonBar {
    background: #333333;
}

.mb_YTPBar .mb_YTPProgress {
    background: #222222;
}

.mb_YTPBar .mb_YTPseekbar {
    background: #de3926;
}

.mb_YTPBar .simpleSlider {
    border: 1px solid #ffffff;
}

.mb_YTPBar .level {
    background-color: #ffffff;
}

#cv-page-left {
    background: url('../images/loading2.gif') no-repeat scroll center center #333333;
}

#footer {
    background-color: rgba(243, 243, 243, 0.9);
}

.cv-credits a {
    color: #777777;
}

.cv-credits a:hover {
    color: #222222;
}

#cv-back-to-top:before {
    color: #777777;
}

#cv-back-to-top:hover:before {
    color: #222222;
}

.slider-mobile-only {
    height: 400px;
}

.blogcontainer .blog-img {
    height: 300px;
}

@media only screen and (min-width: 1400px) {
    .blogcontainer .blog-img {
        height: 350px;
    }
}

@media only screen and (max-width:1170px) {
    #home-title h1 span,
    #home-slide-title span {
        font-size: 44px;
    }
    #home-title p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1024px) {
    #home-title h1 span,
    #home-slide-title span {
        font-size: 38px;
    }
    .blogcontainer .blog-img {
        height: 250px;
    }
}

@media only screen and (max-width: 640px) {
    #home-title h1 span,
    #home-slide-title span {
        font-size: 34px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    .slider-mobile-only {
        height: 300px;
    }
    .resp-tab-active {
        background-color: #de3926 !important;
        color: #ffffff !important;
    }
}

@media only screen and (max-width: 480px) {
    #home-title h1 span,
    #home-slide-title span {
        font-size: 30px;
    }
    #home-title p {
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 20px;
    }
    h6, .cv-resume-title p, .cvfilters li, .accordion-header, .page-date, .resp-tabs-list li, h2.resp-accordion, .cv-box-title, blockquote p, .cv-submenu ul li a, .cv-table li, blockquote p{
        font-size: 16px;
    }
    .slider-mobile-only {
        height: 250px;
    }
    .blogcontainer .blog-img {
        height: 200px;
    }
}

@media only screen and (max-height: 20em) {
    #home-title h1 span,
    #home-slide-title span {
        font-size: 26px;
    }
    #home-title p {
        font-size: 16px;
    }
}