body {
	padding:50px;
    background-color:#F5F8FD;
    font-family: Mukta;
    line-height: 1.4;
	text-align: center !important;    
    }
	
h1{
font-size:80px;
font-weight:800;
margin-top:50px;
}
h2
{
font-size:25px;
margin-top:-40px;
}

p{
font-family: 'Mukta';
font-size:15px;
}
